/*********************************
General Formatting (Do Not Change)
*********************************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

header,
footer {
    background-color: #86af49;
}

nav,
aside,
article {
    padding: .5rem;
}

nav, aside {
    background-color: #b5e7a0;
}


/**************
Your Formatting
***************/

#wrapper{
    display: grid;
    width: 90vw;
    max-width: 1200px;
    height: 100vh;
    grid-template-columns: 1fr 2fr 200px;
    grid-template-rows: 4rem 1fr 3rem;
    grid-template-areas: "a a a" "d b c" "e e e";
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: a;
}

nav{
    grid-area: c;
}

article{
    grid-area: b;
}

aside{
    grid-area: d;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: e;
}
.menuitem{
    margin: auto;
    background-color: white;
    border-top: 1px solid #b5e7a0;
}
.submenu{
    margin:auto;
    padding:auto;
    padding-left: .25 rem;
    background-color: lightgray;
    list-style-type: none;
    display: none;
}

